@charset "utf-8";
/* Audio player */

body {
    background-color: #f9f9f9;
    font: normal quicksand;
 }

h1 {
    font-family: quicksand;
    font-size: 32px;
    color: #f4c276;
    text-align: center;
 }

audio {
    display:block;
    margin: auto;
 }