@charset "utf-8";
/* Audio player */

body {
    background-color: #2e2925;
    
 }

h1 {
font-family: "quicksand";
  text-align: center;
  color: #f4c276;
  font-size: 32pt;
  font-weight: bold;
}

h4 {
  font-family: "quicksand";
  color: #f4c276;
  font-size: 17pt;
  font-weight: medium;
}

p {
  font-family: "Eb+Garamond";
  color: #f4c276;
  font-size: 15pt;
  font-weight: 400;
  
}

audio {
    display:block;
    margin: auto;
	
 }