body {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: #2e2925;
    height: 100vh;
    overflow: hidden;
	font-family: "eb-garamond", sans-serif; 
}

.map {
    display: block;
    width: 400px;
    border: double 5px #f4c276;
    z-index: -1;
    position: fixed;
    top: 100px;
}
.stop1{
    display: block;
    border-radius: 300px;
    width: 25px;
    position: fixed;
    top: 170px;
    left: 25px;
}


.stop2{
    display: block;
    border-radius: 300px;
    width: 25px;
    position: fixed;
    top: 170px;
    left: 275px;
}
.stop3{
    display: block;
    border-radius: 300px;
    width: 25px;
    position: fixed;
    top: 433px;
    left: 373px;
}

.lokation {
    
    height: 100%;
    position: fixed;
    bottom: 0;
}


p {
    font-family: "quicksand";
    color: #f4c276;
    font-size: 17pt;
    font-weight: medium;
    text-align: center;
    position: fixed;
    bottom: 0;
  }  

@media only screen and (max-width: 700px){

body {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: #2e2925;
    height: 100vh;
    overflow: hidden;
	font-family: "eb-garamond", sans-serif; 
}

.map {
    display: block;
    width: 300px;
    border: double 5px #f4c276;
    z-index: -1;
    position: fixed;
    top: 100px;
    left: 30px;
}
.stop1{
    display: block;
    border-radius: 300px;
    width: 20px;
    position: fixed;
    top: 153px;
    left: 43px;
}


.stop2{
    display: block;
    border-radius: 300px;
    width: 20px;
    position: fixed;
    top: 153px;
    left: 231px;
}
.stop3{
    display: block;
    border-radius: 300px;
    width: 20px;
    position: fixed;
    top: 350px;
    left: 304px;
}

.lokation {
    
    height: 100%;
    position: fixed;
    bottom: 0;
}


p {
    font-family: "quicksand";
    color: #f4c276;
    font-size: 17pt;
    font-weight: medium;
    text-align: center;
    position: fixed;
    bottom: 200px;
  }  
}