body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url("/billeder/login-background.png");
  height: 100%;
  background-color: #2e2925;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="text"],
select {
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Quicksand";
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 28px;
  color: #f4c276;
  letter-spacing: 20px;
  border-radius: 12px;
  outline: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #f4c276;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Quicksand";
  font-weight: bolder;
  font-size: 28px;
  color: #2e2925;
  text-transform: uppercase;
  border-radius: 12px;
  outline: none;
}

input[type="submit"]:hover {
  background-color: #000000;
  color: #f4c276;
  border-radius: 12px;
  outline: none;
}
input[type="submit"]:active {
  background-color: #000000;
  color: #f4c276;
  border-radius: 12px;
  outline: none;
}

div {
  border-radius: 5px;

  padding: 7%;
}

h1 {
  font-family: "quicksand";
  text-align: center;
  color: #f4c276;
  font-size: 32pt;
  font-weight: bold;
}

h2 {
  font-family: "quicksand";
  text-align: center;
  color: #f4c276;
  font-size: 24pt;
  font-weight: medium;
}
