body{
    background-color: #2e2925; 
  
  margin: 20px;
    height: 100vh;
    
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 0px;
  margin: auto;
}


.button1{
    
    background-color: rgba(244, 194, 118, 0.5);
    text-align: center;
    padding: 5px;
    border: double 5px black;
    outline: none;
    margin: 2px;

}

.button1:hover{
  background-color: rgb(244, 194, 118);
  cursor: pointer;
}
.button1:active {
    
    border: solid 5px black;
    outline: none;
   padding: 5px
}



p {
    background-color: grey;
    margin: 0px;
}
.button2{
    background-color:#f4c276;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    border: double 5px black;
    outline: none;
}

.button2:hover{
  cursor: pointer;
  
}


.button2:active{
  background-color:#f4c276;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    border: solid 5px black;
    outline: none;
  

}
.grid-container > div {
 
  text-align: center;
  font-size: 5vw;
}
.item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1vw;
    
  }
  .item1:hover {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1vw;
    border: dotted 2px #f4c276;
    border-radius: 300px;
  }
.item2{
  
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1vw;
  }
  .item2:hover {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1vw;
    border: dotted 2px #f4c276;
    border-radius: 300px;
  }
.item3{
  
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1vw;
  }
  .item3:hover {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1vw;
    border: dotted 2px #f4c276;
    border-radius: 300px;
  }
.item4{
  
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1vw;
  }
  .item4:hover {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1vw;
    border: dotted 2px #f4c276;
    border-radius: 300px;
  }
.item5{
  
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1vw;
    opacity: 0.5;
    cursor: not-allowed;
  }
.item6{
  
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1vw;
    opacity: 0.5;
    cursor: not-allowed;
  }
.item7{
  
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1vw;
    opacity: 0.5;
    cursor: not-allowed;
  }
.item8{
  
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1vw;
    opacity: 0.5;
    cursor: not-allowed;
  }
.item9{
  
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 1vw;
    opacity: 0.5;
    cursor: not-allowed;
  }
.item10{
  
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 1vw;
    opacity: 0.5;
    cursor: not-allowed;
  }
.item11{
  
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 1vw;
    opacity: 0.5;
    cursor: not-allowed;
  }
.item12{
  
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 1vw;
    opacity: 0.5;
    cursor: not-allowed;
  }

  .item13 {
   grid-column-start: 2;
   grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 1vw;
    
  }

  .item14 /*space*/{
  
    grid-row-start: 6;
    grid-row-end: 7;
    padding: 1vw;
    
  }
  .item15 /*space*/{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    display: inline-block;
    height: 100%;
    padding: 1vw;
  }
  
 
  .item16 {
    grid-column-start: 2;
   grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 12;
    padding: 1vw;



  }
  .item17 /*space*/{ 
    grid-row-start: 12;
    grid-row-end: 13;
    padding: 1vw;
  }
  
  
