body {
  background-color: #2e2925;
  padding: 20px;
  padding-left: 50px;
}
h1 {
  font-family: "quicksand";
  color: #f4c276;
  font-size: 34pt;
  font-weight: bold;
}

h2 {
  font-family: "quicksand";
  color: #f4c276;
  font-size: 24pt;
  font-weight: medium;
}

h3 {
  font-family: "quicksand";
  color: #f4c276;
  font-size: 20pt;
  font-weight: medium;
}

h4 {
  font-family: "quicksand";
  color: #f4c276;
  font-size: 17pt;
  font-weight: medium;
}

p {
  font-family: "Eb+Garamond";
  color: #f4c276;
  font-size: 15pt;
  font-weight: 400;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.column2 {
  float: left;
  width: 10%;
  padding: 10px;
  height: 300px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #f4c276;
  font-family: "quicksand";
  border: none;
  color: white;
  padding: 10px 25px 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  margin: 4px 2px;
  border-radius: 12px;
}

xmp {
  color: ivory;
}
