
h1{
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    border: darkslategrey;

}




.img-comp-container {
  position: relative;
  height: 400px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 55px;
  background-color: #f4c276;
  opacity: 1;
  border-radius: 50%;
}
