body {
  background-color: #2e2925;
  padding-top: 20px;
  margin-bottom: 50px;
  width: 80%;
}

p {
  font-family: "Eb+Garamond";
  color: #f4c276;
  font-size: 15pt;
  font-weight: 400;
  position: fixed;
  bottom: 50px;
}

h1 {
  font-family: "quicksand";
  color: #f4c276;
  font-size: 28pt;
  font-weight: medium;
}

.img-comp-container {
  position: relative;
  height: fit-content;
}

.img-comp-img {
  position: absolute;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  border: double 5px black;
  width: 350px;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 55px;
  background-color: #f4c276;
  opacity: 1;
  border-radius: 50%;
  border: dotted 1px black;
}
